@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;800&family=Luckiest+Guy&display=swap");

/* Load-in */
@keyframes transition-in {
  from {opacity:0;height:0;}
  to {opacity:1;height:initial;}
}

* {opacity:0;font-family:"work sans", sans-serif;}

body {
  background:#fff8dc;
  font-size:32px;
}

h2 {
  font-weight:normal;
  font-family:"Luckiest Guy",display;
  color:red;
  text-shadow:-1px -1px #000,
    1px -1px #000,
    -1px 1px #000,
    2px 2px #000;
  
}

p {
  font-family:"work sans", sans-serif;
  color:#468fea;
  text-shadow:-1px -1px #000,
    1px -1px #000,
    -1px 1px #000,
   1px 1px #000;
}

a {
  background-image:linear-gradient(to right, yellow 0,  yellow 100%);
  background-position:0 0.2em;
    box-shadow: inset 0 -.5em 0 0 lavender;
  text-decoration:none;
  color:black;
}

button {
  background:#468fea;
  padding:15px;
  color:white;
  font-family:"work sans", sans-serif;
  font-weight:bold;
  cursor:pointer;
 box-shadow:3px 3px 1px #000;
}

.navbar {
  text-transform:uppercase;
  letter-spacing:2.5px;
  font-family: "Work Sans", sans-serif;
  font-weight:bold;
  overflow:hidden;
  text-decoration:none;
  width:100%;
  position:fixed;
  top:0;
  padding:5px;
  z-index:1;
  background:lavender;
} 